/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
	background-color: #319eb6;
	border-radius: 0px;
	color: white;
}

.navbar-custom a {
	color: white;
}

.navbar-nav li a:hover {
	background-color: #319eb6;
}

.navbar-nav li a:focus {
	background-color: #319eb6;
}

.panel-custom {
	background-color: #319eb6;
	color: white;
	border-color: #319eb6;
}

.panel-body {
	background-color: white;
	color: black;
}

.btn-custom {
	background-color: #319eb6;
	border-color: #319eb6;
	color: white;
	text-decoration: none;
}

.btn-custom:hover{
	color: white;
	background-color: #277e91;
	border-color: #277e91;
}

.jumbotron {
	background-image: asset-url('colorful-triangles.jpg');
	background-size: cover;
	color: white;
}

.service-signup {
	margin-left: 15px;
	margin-right: 15px;
}